<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <!-- 글꼴 link -->
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <!-- 기본 포맷 -->
    <link
      rel="stylesheet"
      href="/src/apple/components/apple_header/apple_header.css"
    />
  </head>
  <body>
    <h1>Apple Header 컴포넌트</h1>
    <nav class="apple-header">
      <a class="apple-logo" href="https://www.apple.com/kr/">
        <img src="/src/apple/favicon/apple_logo.svg" alt="" />
      </a>
      <a href="https://www.apple.com/kr/store">스토어</a>
      <a href="https://www.apple.com/kr/mac/">Mac</a>
      <a href="https://www.apple.com/kr/ipad/">iPad</a>
      <a href="https://www.apple.com/kr/iphone/">iPhone</a>
      <a href="https://www.apple.com/kr/watch/">Watch</a>
      <a href="https://www.apple.com/kr/apple-vision-pro/">Vision</a>
      <a href="https://www.apple.com/kr/airpods/">AirPods</a>
      <a href="https://www.apple.com/kr/tv-home/">TV 및 홈</a>
      <a href="https://www.apple.com/kr/services/">엔터테인먼트</a>
      <a href="https://www.apple.com/kr/shop/accessories/all">액세서리</a>
      <a href="https://support.apple.com/ko-kr">고객지원</a>
      <a href="/" class="apple-search"
        ><img src="/src/apple/favicon/apple-search.svg" alt=""
      /></a>
      <a href="/" class="apple-bag"
        ><img src="/src/apple/favicon/apple-bag.svg" alt=""
      /></a>
    </nav>
    <div class="content__wrapper">
      <p class="intro__text">
        적용 대상 제품을 교육 할인가로 구입하고 Mac 구입 시 AirPods을, iPad 구입
        시 Apple Pencil을 받을 수 있는 마지막 기회. 대학생 및 교육자 대상.*
        <a class="apple_shopping" href="https://www.apple.com/kr-edu/store"
          >&nbsp쇼핑하기 >
        </a>
      </p>
    </div>
  </body>
</html>
