<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <link
      rel="stylesheet"
      href="/src/apple/components/apple_button/apple_button.css"
    />
  </head>
  <body>
    <h1>Apple_button Components</h1>
    <div class="item-content ipad-air">
      <h2 class="headline">iPad Pro</h2>
      <p class="subhead">놀라우리만치 얇다. 엄청나게 강력하다.</p>
      <p class="callout">출시일 추후 공개</p>
      <div class="cta-links">
        <a href="#" class="btn btn-fill" aria-label="iPad Pro 더 알아보기"
          >더 알아보기</a
        >
        <a href="#" class="btn btn-outline" aria-label="iPad Pro 가격 보기"
          >가격 보기</a
        >
      </div>
    </div>
  </body>
</html>
