<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apple Item Images</title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <link
      rel="stylesheet"
      href="/src/apple/components/apple_item_img/apple_item_img.css"
    />
  </head>
  <body>
    <h1>Apple item background img</h1>
    <div class="card-container">
      <div class="card-item ipad-pro">
        <div class="card-inner">
          <div class="text-wrap">
            <h4 class="title">iPad Pro</h4>
            <p class="subtitle">놀라우리만치 얇다. 엄청나게 강력하다.</p>
            <p class="text">출시일 추후 공개</p>
          </div>
          <div class="btn-group">
            <a href="#" class="btn btn-fill">더 알아보기</a>
            <a href="#" class="btn btn-outline">가격 보기</a>
          </div>
        </div>
      </div>

      <div class="card-item ipad-air">
        <div class="card-inner">
          <div class="text-wrap">
            <h4 class="title">iPad Air</h4>
            <p class="subtitle">
              두 가지 사이즈. 더 빠른 칩. 무엇이든 거뜬하게.
            </p>
            <p class="text">출시일 추후 공개</p>
          </div>
          <div class="btn-group">
            <a href="#" class="btn btn-fill">더 알아보기</a>
            <a href="#" class="btn btn-outline">가격 보기</a>
          </div>
        </div>
      </div>

      <div class="card-item iphone-pro">
        <div class="card-inner">
          <div class="text-wrap">
            <h4 class="title">iPhone 15 Pro</h4>
            <p class="subtitle">티타늄. 초강력. 초경량. 초프로.</p>
            <p class="text">출시일 추후 공개</p>
          </div>
          <div class="btn-group">
            <a href="#" class="btn btn-fill">더 알아보기</a>
            <a href="#" class="btn btn-outline">가격 보기</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
