body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
}

.profile-container {
  width: 420px;
  height: 225px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 155px;
  padding: 20px;
}

.profile-list {
  padding: 0;
}

.profile-item {
  position: relative;
  padding: 10px;
  width: 64px;
  height: 64px;
  list-style-type: none;
  display: inline-block;
}

.profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.state {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  box-sizing: border-box;
  width: 17.78px;
  height: 17.78px;
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: #dbdbdb;
}

.offline {
  background-color: #4cfe88;
}
