body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
}

.profile-container {
  width: 420px;
  height: 225px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

.profile-content {
  display: inline-flex;
  width: 396px;
  height: 195px;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile-item {
  padding: 10px;
  .profile-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}
