/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import url(/src/common/modern-reset.css);

:root {
  /* Color styles */
  --primary: #03cf5d;
  --white: #ffffff;
  --black: #333333;
  --black-alpha: #000000;
  --warning: #ff1414;

  --gray-10: #dadada;
  --gray-20: #999999;
  --gray-30: #666666;

  /* Text styles */
  --regular-12: 0.75rem;
  --regular-14: 0.875rem;
  --regular-15: 1rem;
}

body {
  font-family: "SUIT", "sans-serif";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--black);
  background: var(--white);
}

.a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  margin: 0;
  color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.login-container {
  background: lightblue;
  padding-inline: 3.125rem;
  padding-block: 3.125rem 3.125rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 2.8125rem;

  .logo {
    display: block;
    width: 14.375rem;
    margin: 0 auto;
  }
}
